# This is the info that the tests will use to connecct to your server.
host = '127.0.0.1'
compatability_port = '5000'
port = '5003'
admin_passwd = 'roiShah5' # don't worry, this is just an example ;)
